{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Component Catalog" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Component Catalog ") %}
{% endblock page_header %}

{% block main %}

<table hz-table ng-cloak
  class="table-striped table-rsp table-detail modern"
  ng-controller="appComponentCatalogTableCtrl">

  <thead>
    <tr>
      <th class="expander"></th>
      <th class="rsp-p1">Name</th>
      <th class="rsp-p1">License</th>
      <th class="rsp-p1"></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat-start="asset in assets track by asset.name">
      <td class="expander">
        <i class="fa fa-chevron-right" hz-expand-detail duration="200"></i>
      </td>
      <td class="rsp-p1">{$ asset.name $}</td>
      <td class="rsp-p2">{$ asset.license $}</td>
      <td ng-switch="asset.attributes.indirect_url || '_undefined_'">
        <a ng-switch-default class="btn btn-default btn-sm" target="_blank" href="{$ asset.attributes.indirect_url $}">Install Instructions</a>
        <div ng-switch-when="_undefined_" ng-switch="asset.installed">
          <a ng-switch-default class="btn btn-default btn-sm disabled ajax-modal" href="/}">Checking</a>
          <a ng-switch-when="false" class="btn btn-default btn-sm ajax-modal" href="/project/images/create/?name={$ asset.name | encodeURIComponent $}&source_type=url&asset_url={$ asset.attributes.url | encodeURIComponent $}&disk_format={$ asset.disk_format $}&architecture={$ asset.architecture $}&minimum_disk={$ asset.min_disk $}&minimum_ram={$ asset.min_ram $}&description={$ asset.description $}">Install</a>
          <a ng-switch-when="true" class="btn btn-default btn-sm ajax-modal" href="/project/instances/launch?source_type=image_id&source_id={$ asset.installed_id $}">Launch</a>
          </a>
        </div>
      </td>
    </tr>

    <tr ng-repeat-end class="detail-row">
      <td class="detail" colspan="4">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{$ asset.name $}</dd>
          <dt>Description</dt>
          <dd>{$ asset.description $}</dd>
          <dt>Company</dt>
          <dd>{$ asset.provided_by.company $}</dd>
          <dt></dt>
          <dd ng-switch="asset.license_url || '_undefined_'">
            <a ng-switch-default class="btn btn-default btn-sm" target="_blank" href="{$ asset.license_url $}">License Details</a>
            <div ng-switch-when="_undefined_"></div>
          </dd>
        </dl>
      </td>
    </tr>

  </tbody>
</table>

{% endblock %}

