Service Types: <label ng-repeat="service in service_filters">
  <input
    type="checkbox"
    name="selected_filters[]"
    value="{$ service.id $}"
    ng-checked="service_filters_selections[service.id]"
    ng-click="toggle_service_filter(service.id)"
  > {$ service.name $}
</label>
<table hz-table ng-cloak st-table="dispassets" st-safe-src="assets"
  class="table-striped table-rsp table-detail modern">
  <thead>
    <tr>
      <th colspan="4">
        <hz-search-bar group-classes="input-group-sm" icon-classes="fa-search"></hz-search-bar>
<!--
        <st-magic-search>
          <hz-magic-search-bar filter-facets="{$ asset_filter_facets $}" filter-strings="asset_filter_strings">
          </hz-magic-search-bar>
        </st-magic-search>
-->
      </th>
    </tr>
    <tr>
      <th class="expander"></th>
      <th st-sort="name" st-sort-default="true" class="rsp-p1">Name</th>
      <th st-sort='license' class="rsp-p1">License</th>
      <th class="rsp-p1"></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat-start="asset in dispassets track by asset.name">
      <td class="expander">
        <i class="fa fa-chevron-right" hz-expand-detail duration="200"></i>
      </td>
      <td class="rsp-p1">{$ asset.name $}</td>
      <td class="rsp-p2">{$ asset.license $}</td>
      <td ng-switch="asset.service.type">
        <div ng-switch-when="heat" ng-switch="asset.validated">
            <a ng-switch-default class="btn btn-default btn-sm disabled ajax-modal" href="/}">Checking</a>
            <a ng-switch-when="error" class="btn btn-default btn-sm disabled ajax-modal" href="/">Error</a>
            <a ng-switch-when="unsupported" class="btn btn-default btn-sm disabled ajax-modal" href="/">Unsupported</a>
            <a ng-switch-when="true" class="btn btn-default btn-sm ajax-modal" href="/project/stacks/select_template?template_source=url&template_url={$ asset.attributes.url | encodeURIComponent $}">Launch</a>
        </div>
        <div ng-switch-when="glance" ng-switch="asset.attributes.indirect_url || '_undefined_'">
          <a ng-switch-default class="btn btn-default btn-sm" target="_blank" href="{$ asset.attributes.indirect_url $}">Install Instructions</a>
          <div ng-switch-when="_undefined_" ng-switch="asset.installed">
            <a ng-switch-default class="btn btn-default btn-sm disabled ajax-modal" href="/}">Checking</a>
            <a ng-switch-when="false" class="btn btn-default btn-sm ajax-modal" href="/project/images/create/?name={$ asset.name | encodeURIComponent $}&source_type=url&image_url={$ asset.attributes.url | encodeURIComponent $}&disk_format={$ asset.service.disk_format $}&architecture={$ asset.service.architecture $}&minimum_disk={$ asset.service.min_disk $}&minimum_ram={$ asset.service.min_ram $}&description={$ asset.description $}">Install</a>
            <a ng-switch-when="true" class="btn btn-default btn-sm ajax-modal" href="/project/instances/launch?source_type=image_id&source_id={$ asset.installed_id $}">Launch</a>
            </a>
          </div>
        </div>
      </td>
    </tr>

    <tr ng-repeat-end class="detail-row">
      <td class="detail" colspan="4">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{$ asset.name $}</dd>
          <dt>Description</dt>
          <dd>{$ asset.description $}</dd>
          <dt>Company</dt>
          <dd>{$ asset.provided_by.company $}</dd>
          <dt></dt>
          <dd ng-switch="asset.license_url || '_undefined_'">
            <a ng-switch-default class="btn btn-default btn-sm" target="_blank" href="{$ asset.license_url $}">License Details</a>
            <div ng-switch-when="_undefined_"></div>
          </dd>
        </dl>
      </td>
    </tr>

  </tbody>

  <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
      </td>
    </tr>
  </tfoot>
</table>
