{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Application Catalog" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Application Catalog") %}
{% endblock page_header %}

{% block main %}

<table hz-table ng-cloak
  class="table-striped table-rsp table-detail modern"
  ng-controller="appCatalogTableCtrl">
  <hz-include src="'{{ STATIC_URL }}dashboard/project/app_catalog/main_panel.html'"></ng-include>
</table>

{% endblock %}

